body {
  background-color: #fafffa;
}

.container {
  width: 1200px;
  margin: 0 auto;

  .page-title {
    text-align: center;
  }

  .parent {
    height: 800px;
    line-height: 800px;
    border: solid 1px #666;
    text-align: center;
    font-size: 0;

    .child-img {
      vertical-align: middle;
    }
  }

  .parent-flex {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .child-layout {
      width: 32.3%;
      padding: 5px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .ra-center {
    margin-top: 20px;
    height: 800px;
    position: relative;
    border: solid 1px #666;

    .ra-flex {
      display: flex;
      height: 500px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto 0;
      border-top: solid 1px #999;
      border-bottom: solid 1px #999;

      img {
        flex: 1;
        height: 100%;
      }
    }
  }

  .two-column {
    border: solid 1px #666;
    height: 500px;
    margin-top: 20px;

    .left {
      float: left;
      height: 500px;
      width: 100px;
      background: #f4f4d5;
    }

    .right {
      margin-left: 100px;
      height: 500px;
      border-left: solid 1px #999;
      background: #a8a8fc;
    }
  }

  .parent-relative {
    border: solid 1px #666;
    height: 500px;
    margin-top: 20px;
    position: relative;

    * {
      text-align: center;
    }

    .absolute-left {
      position: absolute;
      height: 500px;
      width: 200px;
      left: 0;
      background: #f4f4d5;
    }

    .absolute-right {
      position: absolute;
      height: 500px;
      left: 200px;
      border-left: solid 1px #999;
      background: #a8a8fc;
      right: 0;
    }
  }

  .parent_container {
    padding: 5px;
    display: flex;

    .wrap_flex {

      flex: 1;
      display: flex;

      .item_label {
        flex: 0 0 auto;
        // flex-shrink: 0;
      }

      .item_input {
        flex: 1 0 40%;
        // flex-grow: 0;
        // flex-shrink: 1;
        // flex-basis: auto;
      }
    }
  }
}
